<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/nav.ejs') %>

  <div class="not-found content">
    <p>OOPS, page not found :/</p>
    <p>Go back to the <a href="/">home page</a> and look up another course.</p>  
  </div>
<%- include('./partials/footer.ejs') %>
</body>
</html>