<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/nav.ejs') %>

  <div class="courses content">
    <h2>All Courses</h2>

  </div>

  <%- include('./partials/footer.ejs') %>
</body>
    
</html>