<%- include('./partials/head.ejs') %>
<%- include ('./partials/nav.ejs') %>

<div class="login-body">
    <form class="content" action="/login">
        <h2>Welcome Back!</h2>
        <label for="email">Email</label>
        <input type="test" name="email" required>
        <div class="email error"></div>

        
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <div class="password error"></div>
        <a href="/signup"> Don't have an account yet?</a>
        
        <button>Log in</button>
    </form>
</div>
    
      
<%- include('./partials/footer.ejs') %>

<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        //reset errors
        emailError.textContent = '';
        passwordError.textContent = '';

        //get the values
        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({email, password}),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if (data.user) {
                const teacher = data.teacher;
                location.assign('/courses');
            }
        } catch (err) {
            console.log(err);
        }
    });
</script>