<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/nav.ejs') %>

  <div class="schedule content">
    <h2>Schedule</h2>
    <% if (user.schedule.length > 0) { %>
        <% schedule.forEach(schedule => { %>
          <p><%=course.name %></p>
        <% }) %>
    <% } else { %>
            <p class="no-classes">There are no courses in your schedule at this time. </p>
            <a class="btn" href="/">Back to course list</a>

        <% } %>
  </div>

  

  <%- include('./partials/footer.ejs') %>
</body>
    
</html>